<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media.css') }}">
    <title>TOM STOPAŘI KOVÁŘSKÁ</title>
</head>

<body>
    <div class="yellow-line"></div>
    <header class="big-width">
        <a href="/akce" class="nav-menu">AKCE</a>
        <a href="/fotky" class="nav-menu">FOTKY</a>
        <a href="/" class="nav-menu"><img class="logo-menu" src="{{ url_for('static', filename='img/tom.png') }}"></a>
        <a href="/kniha" class="nav-menu">KNIHA</a>
        <a href="/kontakty" class="nav-menu">KONTAKTY</a>
    </header>

    <header class="small-width">
        <label class="burger-btn" for="burger-toggle">
            <span>MENU</span>
        </label>
        <input id="burger-toggle" type="checkbox" />
        <nav class="small-width-menu">
            <a href="/" class="nav-menu"><img class="logo-menu"
                    src="{{ url_for('static', filename='img/tom.png') }}"></a>
            <a href="/akce" class="nav-menu">AKCE</a>
            <a href="/fotky" class="nav-menu">FOTKY</a>
            <a href="/kniha" class="nav-menu">KNIHA</a>
            <a href="/kontakty" class="nav-menu">KONTAKTY</a>
        </nav>
    </header>

    <div class="akce-text"><span>FOTKY</span></div>

    <div class="photos-container">
        {% for i in photos.keys() %}
        <div class="group-container">
            <h1 class="group-text"><span>{{ i }}</h1>
            <div class="photos">
                {% for j in photos[i] %}

                <img src="/static/img/groups/{{ i }}/{{ j }}">

                {% endfor %}
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="logo"><img src="{{ url_for('static', filename='img/tom.png') }}"></div>
</body>

</html>